<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Name</servlet-name>
  	<display-name>Name</display-name>
  	<description></description>
  	<servlet-class>servlets.Name</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Captchaimage</servlet-name>
  	<display-name>Captchaimage</display-name>
  	<description></description>
  	<servlet-class>servlets.Captchaimage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Name</servlet-name>
  	<url-pattern>/Name</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Captchaimage</servlet-name>
  	<url-pattern>/Captchaimage</url-pattern>
  </servlet-mapping>
</web-app>
